    @font-face {
      font-family: 'Maison Neue';
      src: '../fonts/MaisonNeueBook.eot';
      
      src: '../fonts/MaisonNeueBook.eot?#iefix' format('embedded-opentype');
      
      src: '../fonts/MaisonNeueBook.woff' format('woff');
      
      src: '../fonts/MaisonNeueBook.ttf' format('truetype');
      
      font-style: normal;
      font-weight: 300;
    }

    .mh25 {
        min-height:25rem;
    }
  
    .mh32 {
        min-height:45rem;
    }
  
    .skills {
        font-family: Verdana;
        text-decoration: uppercase;
    }